[submodule "00-javascript-basics"]
	path = 00-javascript-basics
	url = git@github.com:Awerito/00-javascript-basics.git
[submodule "01-vanilla-javascript"]
	path = 01-vanilla-javascript
	url = git@github.com:Awerito/01-vanilla-javascript.git
[submodule "02-vanilla-react"]
	path = 02-vanilla-react
	url = git@github.com:Awerito/02-vanilla-react.git
[submodule "03-react-hello-world"]
	path = 03-react-hello-world
	url = git@github.com:Awerito/03-react-hello-world.git
[submodule "04-twitter-cards"]
	path = 04-twitter-cards
	url = git@github.com:Awerito/04-twitter-cards.git
[submodule "05-api-fetch"]
	path = 05-api-fetch
	url = git@github.com:Awerito/05-api-fetch.git
[submodule "06-shoping-cart"]
	path = 06-shopping-cart
	url = git@github.com:Awerito/06-shopping-cart.git
[submodule "07-todo-app"]
	path = 07-todo-app
	url = git@github.com:Awerito/07-todo-app.git
[submodule "08-shopping-cart-mantine"]
	path = 08-shopping-cart-mantine
	url = git@github.com:Awerito/08-shopping-cart-mantine.git
[submodule "06-shopping-cart"]
	path = 06-shopping-cart
	url = git@github.com:Awerito/06-shopping-cart.git
[submodule "09-curricular-grid"]
	path = 09-curricular-grid
	url = git@github.com:Awerito/09-curricular-grid.git
[submodule "10-react-router"]
	path = 10-react-router
	url = git@github.com:Awerito/10-react-router.git
[submodule "11-react-native-expo"]
	path = 11-react-native-expo
	url = git@github.com:Awerito/11-react-native-expo.git
