{
  "openapi": "3.1.0",
  "info": {
    "title": "API",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api.boostr.cl/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/earthquake.json": {
      "get": {
        "summary": "Último sismo",
        "description": "Información del último sismo registrado",
        "operationId": "earthquake",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"date\": \"2023-11-10\",\n    \"hour\": \"15:30:31\",\n    \"place\": \"8 km al noreste de Illapel\",\n    \"magnitude\": \"2.7\",\n    \"depth\": \"59 km\",\n    \"latitude\": \"-31.58\",\n    \"longitude\": \"-71.11\",\n    \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214447.jpeg\",\n    \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214447.html\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "example": "2023-11-10"
                        },
                        "hour": {
                          "type": "string",
                          "example": "15:30:31"
                        },
                        "place": {
                          "type": "string",
                          "example": "8 km al noreste de Illapel"
                        },
                        "magnitude": {
                          "type": "string",
                          "example": "2.7"
                        },
                        "depth": {
                          "type": "string",
                          "example": "59 km"
                        },
                        "latitude": {
                          "type": "string",
                          "example": "-31.58"
                        },
                        "longitude": {
                          "type": "string",
                          "example": "-71.11"
                        },
                        "image": {
                          "type": "string",
                          "example": "https://sismologia.cl/sismicidad/informes/2023/11/214447.jpeg"
                        },
                        "info": {
                          "type": "string",
                          "example": "https://sismologia.cl/sismicidad/informes/2023/11/214447.html"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/earthquakes/recent.json": {
      "get": {
        "summary": "Sismos recientes",
        "description": "Últimos 15 sismos registrados.",
        "operationId": "earthquakes",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"15:30:31\",\n      \"place\": \"8 km al noreste de Illapel\",\n      \"magnitude\": \"2.7\",\n      \"depth\": \"59 km\",\n      \"latitude\": \"-31.58\",\n      \"longitude\": \"-71.11\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214447.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214447.html\"\n    },\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"14:29:55\",\n      \"place\": \"63 km al este de Alto del Carmen\",\n      \"magnitude\": \"4.3\",\n      \"depth\": \"106 km\",\n      \"latitude\": \"-28.61\",\n      \"longitude\": \"-69.86\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214439.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214439.html\"\n    },\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"13:28:17\",\n      \"place\": \"69 km al norte de Tocopilla\",\n      \"magnitude\": \"3.6\",\n      \"depth\": \"51 km\",\n      \"latitude\": \"-21.51\",\n      \"longitude\": \"-70.43\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214431.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214431.html\"\n    },\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"12:27:39\",\n      \"place\": \"41 km al suroeste de Huasco\",\n      \"magnitude\": \"4.7\",\n      \"depth\": \"51 km\",\n      \"latitude\": \"-28.79\",\n      \"longitude\": \"-71.42\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214424.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214424.html\"\n    },\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"10:37:52\",\n      \"place\": \"50 km al norte de San Pedro de Atacama\",\n      \"magnitude\": \"2.9\",\n      \"depth\": \"160 km\",\n      \"latitude\": \"-22.47\",\n      \"longitude\": \"-68.16\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214412.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214412.html\"\n    },\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"09:18:17\",\n      \"place\": \"11 km al noreste de Futrono\",\n      \"magnitude\": \"3.2\",\n      \"depth\": \"108 km\",\n      \"latitude\": \"-40.06\",\n      \"longitude\": \"-72.29\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214409.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214409.html\"\n    },\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"08:03:27\",\n      \"place\": \"108 km al noroeste de Pichilemu\",\n      \"magnitude\": \"2.7\",\n      \"depth\": \"22 km\",\n      \"latitude\": \"-33.94\",\n      \"longitude\": \"-73.05\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214404.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214404.html\"\n    },\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"06:49:25\",\n      \"place\": \"43 km al sur de Pica\",\n      \"magnitude\": \"3.4\",\n      \"depth\": \"95 km\",\n      \"latitude\": \"-20.87\",\n      \"longitude\": \"-69.42\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214398.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214398.html\"\n    },\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"03:54:01\",\n      \"place\": \"23 km al sur de Punitaqui\",\n      \"magnitude\": \"3.3\",\n      \"depth\": \"62 km\",\n      \"latitude\": \"-31.03\",\n      \"longitude\": \"-71.29\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214392.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214392.html\"\n    },\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"03:33:07\",\n      \"place\": \"35 km al norte de Valparaíso\",\n      \"magnitude\": \"2.6\",\n      \"depth\": \"34 km\",\n      \"latitude\": \"-32.74\",\n      \"longitude\": \"-71.67\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214390.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214390.html\"\n    },\n    {\n      \"date\": \"2023-11-10\",\n      \"hour\": \"00:02:37\",\n      \"place\": \"48 km al sureste de Pica\",\n      \"magnitude\": \"2.6\",\n      \"depth\": \"109 km\",\n      \"latitude\": \"-20.89\",\n      \"longitude\": \"-69.15\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214377.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214377.html\"\n    },\n    {\n      \"date\": \"2023-11-09\",\n      \"hour\": \"19:17:32\",\n      \"place\": \"49 km al sur de Tocopilla\",\n      \"magnitude\": \"3.7\",\n      \"depth\": \"29 km\",\n      \"latitude\": \"-22.50\",\n      \"longitude\": \"-70.36\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214364.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214364.html\"\n    },\n    {\n      \"date\": \"2023-11-09\",\n      \"hour\": \"17:25:00\",\n      \"place\": \"35 km al noroeste de Navidad\",\n      \"magnitude\": \"2.7\",\n      \"depth\": \"45 km\",\n      \"latitude\": \"-33.77\",\n      \"longitude\": \"-72.14\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214351.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214351.html\"\n    },\n    {\n      \"date\": \"2023-11-09\",\n      \"hour\": \"16:33:28\",\n      \"place\": \"22 km al norte de Camiña\",\n      \"magnitude\": \"3.5\",\n      \"depth\": \"114 km\",\n      \"latitude\": \"-19.13\",\n      \"longitude\": \"-69.50\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214349.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214349.html\"\n    },\n    {\n      \"date\": \"2023-11-09\",\n      \"hour\": \"13:28:08\",\n      \"place\": \"21 km al sureste de Cuya\",\n      \"magnitude\": \"3.1\",\n      \"depth\": \"55 km\",\n      \"latitude\": \"-19.32\",\n      \"longitude\": \"-70.07\",\n      \"image\": \"https://sismologia.cl/sismicidad/informes/2023/11/214330.jpeg\",\n      \"info\": \"https://sismologia.cl/sismicidad/informes/2023/11/214330.html\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "example": "2023-11-10"
                          },
                          "hour": {
                            "type": "string",
                            "example": "15:30:31"
                          },
                          "place": {
                            "type": "string",
                            "example": "8 km al noreste de Illapel"
                          },
                          "magnitude": {
                            "type": "string",
                            "example": "2.7"
                          },
                          "depth": {
                            "type": "string",
                            "example": "59 km"
                          },
                          "latitude": {
                            "type": "string",
                            "example": "-31.58"
                          },
                          "longitude": {
                            "type": "string",
                            "example": "-71.11"
                          },
                          "image": {
                            "type": "string",
                            "example": "https://sismologia.cl/sismicidad/informes/2023/11/214447.jpeg"
                          },
                          "info": {
                            "type": "string",
                            "example": "https://sismologia.cl/sismicidad/informes/2023/11/214447.html"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/holidays/{year}.json": {
      "get": {
        "summary": "Feriados anteriores",
        "description": "",
        "operationId": "holidays-year",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "Año a consultar",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"date\": \"2020-01-01\",\n      \"title\": \"Todos los Días Domingos\",\n      \"type\": \"Civil\",\n      \"inalienable\": false,\n      \"extra\": \"Civil\"\n    },\n    {\n      \"date\": \"2020-01-01\",\n      \"title\": \"Año Nuevo\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2020-04-10\",\n      \"title\": \"Viernes Santo\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2020-04-11\",\n      \"title\": \"Sabado Santo\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2020-04-26\",\n      \"title\": \"Plebiscito Constitucional\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2020-05-01\",\n      \"title\": \"Día Nacional del Trabajo\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2020-05-21\",\n      \"title\": \"Día de las Glorias Navales\",\n      \"type\": \"Civil\",\n      \"inalienable\": false,\n      \"extra\": \"Civil\"\n    },\n    {\n      \"date\": \"2020-06-07\",\n      \"title\": \"Elecciones Primarias de Alcalde\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2020-06-29\",\n      \"title\": \"San Pedro y San Pablo\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2020-07-16\",\n      \"title\": \"Día de la Virgen del Carmen\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2020-08-15\",\n      \"title\": \"Asunción de la Virgen\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2020-09-18\",\n      \"title\": \"Independencia Nacional\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2020-09-19\",\n      \"title\": \"Día de las Glorias del Ejercito\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2020-10-12\",\n      \"title\": \"Encuentro de Dos Mundos\",\n      \"type\": \"Civil\",\n      \"inalienable\": false,\n      \"extra\": \"Civil\"\n    },\n    {\n      \"date\": \"2020-10-25\",\n      \"title\": \"Elecciones Municipales\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2020-10-31\",\n      \"title\": \"Día de las Iglesias Evangélicas y Protestantes\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2020-11-01\",\n      \"title\": \"Día de Todos los Santos\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2020-12-08\",\n      \"title\": \"Inmaculada Concepción\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2020-12-25\",\n      \"title\": \"Navidad\",\n      \"type\": \"Religioso\",\n      \"inalienable\": true,\n      \"extra\": \"Religioso e Irrenunciable\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "example": "2020-01-01"
                          },
                          "title": {
                            "type": "string",
                            "example": "Todos los Días Domingos"
                          },
                          "type": {
                            "type": "string",
                            "example": "Civil"
                          },
                          "inalienable": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "extra": {
                            "type": "string",
                            "example": "Civil"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/holidays.json": {
      "get": {
        "summary": "Feriados",
        "description": "",
        "operationId": "holidays",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"date\": \"2023-01-01\",\n      \"title\": \"Año Nuevo\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2023-01-02\",\n      \"title\": \"Feriado Adicional\",\n      \"type\": \"Civil\",\n      \"inalienable\": false,\n      \"extra\": \"Civil\"\n    },\n    {\n      \"date\": \"2023-04-07\",\n      \"title\": \"Viernes Santo\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2023-04-08\",\n      \"title\": \"Sábado Santo\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2023-05-01\",\n      \"title\": \"Día Nacional del Trabajo\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2023-05-21\",\n      \"title\": \"Día de las Glorias Navales\",\n      \"type\": \"Civil\",\n      \"inalienable\": false,\n      \"extra\": \"Civil\"\n    },\n    {\n      \"date\": \"2023-06-21\",\n      \"title\": \"Día Nacional de los Pueblos Indígenas\",\n      \"type\": \"Civil\",\n      \"inalienable\": false,\n      \"extra\": \"Civil\"\n    },\n    {\n      \"date\": \"2023-06-26\",\n      \"title\": \"San Pedro y San Pablo\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2023-07-16\",\n      \"title\": \"Día de la Virgen del Carmen\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2023-08-15\",\n      \"title\": \"Asunción de la Virgen\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2023-09-18\",\n      \"title\": \"Independencia Nacional\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2023-09-19\",\n      \"title\": \"Día de las Glorias del Ejército\",\n      \"type\": \"Civil\",\n      \"inalienable\": true,\n      \"extra\": \"Civil e Irrenunciable\"\n    },\n    {\n      \"date\": \"2023-10-09\",\n      \"title\": \"Encuentro de Dos Mundos\",\n      \"type\": \"Civil\",\n      \"inalienable\": false,\n      \"extra\": \"Civil\"\n    },\n    {\n      \"date\": \"2023-10-27\",\n      \"title\": \"Día de las Iglesias Evangélicas y\\nProtestantes\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2023-11-01\",\n      \"title\": \"Día de Todos los Santos\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2023-12-08\",\n      \"title\": \"Inmaculada Concepción\",\n      \"type\": \"Religioso\",\n      \"inalienable\": false,\n      \"extra\": \"Religioso\"\n    },\n    {\n      \"date\": \"2023-12-25\",\n      \"title\": \"Navidad\",\n      \"type\": \"Religioso\",\n      \"inalienable\": true,\n      \"extra\": \"Religioso e Irrenunciable\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "example": "2023-01-01"
                          },
                          "title": {
                            "type": "string",
                            "example": "Año Nuevo"
                          },
                          "type": {
                            "type": "string",
                            "example": "Civil"
                          },
                          "inalienable": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "extra": {
                            "type": "string",
                            "example": "Civil e Irrenunciable"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/radios.json": {
      "get": {
        "summary": "🎧 Radios online",
        "description": "Listado de radios chilenas con señal online.",
        "operationId": "radios",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"name\": \"Radio Digital FM\",\n      \"image\": {\n        \"200\": \"https://www.victorsanmartin.com/api/radios/images/1.png\"\n      },\n      \"url\": \"http://www.digitalfm.cl\",\n      \"stream\": \"https://redirector.dps.live/digitalfm/aac/icecast.audio\"\n    },\n    {\n      \"name\": \"Radio Sol\",\n      \"image\": {\n        \"200\": \"https://www.victorsanmartin.com/api/radios/images/2.png\"\n      },\n      \"url\": \"http://radiosol.cl/50/\",\n      \"stream\": \"http://online.radiosol.cl:8000/;\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Radio Digital FM"
                          },
                          "image": {
                            "type": "object",
                            "properties": {
                              "200": {
                                "type": "string",
                                "example": "https://www.victorsanmartin.com/api/radios/images/1.png"
                              }
                            }
                          },
                          "url": {
                            "type": "string",
                            "example": "http://www.digitalfm.cl"
                          },
                          "stream": {
                            "type": "string",
                            "example": "https://redirector.dps.live/digitalfm/aac/icecast.audio"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/weather.json": {
      "get": {
        "summary": "Todas las estaciones",
        "description": "",
        "operationId": "weather",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"code\": \"SCAR\",\n      \"city\": \"Arica\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"18\",\n      \"condition\": \"Cubierto\",\n      \"humidity\": \"77\"\n    },\n    {\n      \"code\": \"SCDA\",\n      \"city\": \"Iquique\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"19\",\n      \"condition\": \"Cubierto\",\n      \"humidity\": \"64\"\n    },\n    {\n      \"code\": \"SCCF\",\n      \"city\": \"Calama\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"18\",\n      \"condition\": \"Despejado\",\n      \"humidity\": \"\"\n    },\n    {\n      \"code\": \"SCFA\",\n      \"city\": \"Antofagasta\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"17\",\n      \"condition\": \"Nubosidad parcial\",\n      \"humidity\": \"63\"\n    },\n    {\n      \"code\": \"SCAT\",\n      \"city\": \"Caldera\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"15\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"77\"\n    },\n    {\n      \"code\": \"SCSE\",\n      \"city\": \"La Serena/Coquimbo\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"13\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"88\"\n    },\n    {\n      \"code\": \"SCVM\",\n      \"city\": \"Viña del Mar/Valparaíso\",\n      \"updated_at\": \"10:00\",\n      \"temperature\": \"12\",\n      \"condition\": \"Cubierto y lluvia\",\n      \"humidity\": \"94\"\n    },\n    {\n      \"code\": \"SCSN\",\n      \"city\": \"San Antonio/Cartagena\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"13\",\n      \"condition\": \"Cubierto y lluvia\",\n      \"humidity\": \"100\"\n    },\n    {\n      \"code\": \"SCEL\",\n      \"city\": \"Santiago Poniente\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"10\",\n      \"condition\": \"Cubierto y lluvia\",\n      \"humidity\": \"100\"\n    },\n    {\n      \"code\": \"SCRG\",\n      \"city\": \"Rancagua\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"12\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"88\"\n    },\n    {\n      \"code\": \"SCIC\",\n      \"city\": \"Curicó\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"11\",\n      \"condition\": \"Cubierto y lluvia\",\n      \"humidity\": \"100\"\n    },\n    {\n      \"code\": \"SCCH\",\n      \"city\": \"Chillán\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"12\",\n      \"condition\": \"Nubosidad parcial\",\n      \"humidity\": \"88\"\n    },\n    {\n      \"code\": \"SCIE\",\n      \"city\": \"Concepción\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"13\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"82\"\n    },\n    {\n      \"code\": \"SCGE\",\n      \"city\": \"Loas Angeles\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"11\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"94\"\n    },\n    {\n      \"code\": \"SCQP\",\n      \"city\": \"Temuco\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"11\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"82\"\n    },\n    {\n      \"code\": \"SCVD\",\n      \"city\": \"Valdivia\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"13\",\n      \"condition\": \"Nubosidad parcial\",\n      \"humidity\": \"77\"\n    },\n    {\n      \"code\": \"SCJO\",\n      \"city\": \"Osorno\",\n      \"updated_at\": \"10:00\",\n      \"temperature\": \"9\",\n      \"condition\": \"Nubosidad parcial\",\n      \"humidity\": \"87\"\n    },\n    {\n      \"code\": \"SCTE\",\n      \"city\": \"Puerto Montt\",\n      \"updated_at\": \"10:00\",\n      \"temperature\": \"9\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"87\"\n    },\n    {\n      \"code\": \"SCON\",\n      \"city\": \"Quellón\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"8\",\n      \"condition\": \"Cubierto y lluvia\",\n      \"humidity\": \"93\"\n    },\n    {\n      \"code\": \"SCTN\",\n      \"city\": \"Chaitén\",\n      \"updated_at\": \"10:00\",\n      \"temperature\": \"9\",\n      \"condition\": \"Cubierto y lluvia\",\n      \"humidity\": \"93\"\n    },\n    {\n      \"code\": \"SCFT\",\n      \"city\": \"Futaleufú\",\n      \"updated_at\": \"10:00\",\n      \"temperature\": \"3\",\n      \"condition\": \"Niebla\",\n      \"humidity\": \"100\"\n    },\n    {\n      \"code\": \"SCMK\",\n      \"city\": \"Melinka\",\n      \"updated_at\": \"10:00\",\n      \"temperature\": \"9\",\n      \"condition\": \"Cubierto\",\n      \"humidity\": \"93\"\n    },\n    {\n      \"code\": \"SCCY\",\n      \"city\": \"Coyhaique\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"5\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"87\"\n    },\n    {\n      \"code\": \"SCBA\",\n      \"city\": \"Balmaceda\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"4\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"87\"\n    },\n    {\n      \"code\": \"SCCC\",\n      \"city\": \"Chile Chico\",\n      \"updated_at\": \"10:00\",\n      \"temperature\": \"4\",\n      \"condition\": \"Cubierto y lluvia\",\n      \"humidity\": \"87\"\n    },\n    {\n      \"code\": \"SCHR\",\n      \"city\": \"Cochrane\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"5\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"61\"\n    },\n    {\n      \"code\": \"SCNT\",\n      \"city\": \"Puerto Natales\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"5\",\n      \"condition\": \"Nubosidad parcial\",\n      \"humidity\": \"70\"\n    },\n    {\n      \"code\": \"SCCI\",\n      \"city\": \"Punta Arenas\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"5\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"81\"\n    },\n    {\n      \"code\": \"SCFM\",\n      \"city\": \"Porvenir\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"5\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"75\"\n    },\n    {\n      \"code\": \"SCGZ\",\n      \"city\": \"Puerto Williams\",\n      \"updated_at\": \"10:00\",\n      \"temperature\": \"3\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"60\"\n    },\n    {\n      \"code\": \"SCIP\",\n      \"city\": \"Isla de Pascua\",\n      \"updated_at\": \"09:00\",\n      \"temperature\": \"18\",\n      \"condition\": \"Nublado\",\n      \"humidity\": \"83\"\n    },\n    {\n      \"code\": \"SCIR\",\n      \"city\": \"Juan Fernández\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"12\",\n      \"condition\": \"Nubosidad parcial\",\n      \"humidity\": \"71\"\n    },\n    {\n      \"code\": \"SCRM\",\n      \"city\": \"Antártica\",\n      \"updated_at\": \"11:00\",\n      \"temperature\": \"-4\",\n      \"condition\": \"Despejado\",\n      \"humidity\": \"86\"\n    },\n    {\n      \"code\": \"SCQN\",\n      \"city\": \"Santiago Centro\",\n      \"updated_at\": \"10:45\",\n      \"temperature\": \"10.7\",\n      \"condition\": \"Cubierto y lluvia\",\n      \"humidity\": \"100\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "SCAR"
                          },
                          "city": {
                            "type": "string",
                            "example": "Arica"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "11:00"
                          },
                          "temperature": {
                            "type": "string",
                            "example": "18"
                          },
                          "condition": {
                            "type": "string",
                            "example": "Cubierto"
                          },
                          "humidity": {
                            "type": "string",
                            "example": "77"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/weather/{code}.json": {
      "get": {
        "summary": "Estación específica",
        "description": "",
        "operationId": "weather-code",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Código de la estación meteorológica",
            "schema": {
              "type": "string",
              "enum": [
                "SCFA",
                "SCAR",
                "SCBA",
                "SCCF",
                "SCAT",
                "SCCH",
                "SCIE",
                "SCCY",
                "SCIC",
                "SCFT",
                "SCDA",
                "SCIP",
                "SCSE",
                "SCMK",
                "SCJO",
                "SCTE",
                "SCCI",
                "SCON",
                "SCSN",
                "SCQN",
                "SCEL",
                "SCQP",
                "SCVD",
                "SCVM",
                "SCIR",
                "SCRM",
                "SCGZ",
                "SCFM",
                "SCRG",
                "SCGE",
                "SCTN",
                "SCCC",
                "SCHR",
                "SCNT"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"code\": \"SCFM\",\n    \"city\": \"Porvenir\",\n    \"updated_at\": \"11:00\",\n    \"temperature\": \"5\",\n    \"condition\": \"Nublado\",\n    \"humidity\": \"75\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "SCFM"
                        },
                        "city": {
                          "type": "string",
                          "example": "Porvenir"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "11:00"
                        },
                        "temperature": {
                          "type": "string",
                          "example": "5"
                        },
                        "condition": {
                          "type": "string",
                          "example": "Nublado"
                        },
                        "humidity": {
                          "type": "string",
                          "example": "75"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/santorales.json": {
      "get": {
        "summary": "Santoral del año",
        "description": "",
        "operationId": "saints",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"enero\": [\n      \"María, Madre de Dios\",\n      \"Basilio, Gregorio\",\n      \"Genoveva\",\n      \"Yolando, Rigoberto\",\n      \"Emilia\",\n      \"Wilma, Melanio\",\n      \"Raimundo\",\n      \"Luciano, Eladio\",\n      \"Lucrecia\",\n      \"Gonzalo\",\n      \"Alejandro\",\n      \"Julián\",\n      \"Hilario\",\n      \"Félix\",\n      \"Raquel, Mauro\",\n      \"Marcelo\",\n      \"Antonio, Guido\",\n      \"Prisca, Priscila\",\n      \"Mario\",\n      \"Sebastián, Fabián\",\n      \"Inés\",\n      \"Laura Vicuña, Vicente\",\n      \"Virginia\",\n      \"Francisco de Sales\",\n      \"Elvira\",\n      \"Timoteo, Tito, Paula, Paola\",\n      \"Ángela Merici\",\n      \"Tomás de Aquino\",\n      \"Valerio\",\n      \"Martina\",\n      \"Juan Bosco, Marcela\"\n    ],\n    \"febrero\": [\n      \"Severiano\",\n      \"Presentación del Señor\",\n      \"Blas, Oscar\",\n      \"Gilberto\",\n      \"Agueda\",\n      \"Doris, Pablo Miki\",\n      \"Gastón\",\n      \"Jerónimo Emiliano, Jacqueline\",\n      \"Rebeca\",\n      \"Escolástica\",\n      \"Nuestra Sra. de Lourdes\",\n      \"Panfilio, Pamela\",\n      \"Beatriz\",\n      \"Cirilo, Metodio, Valentino\",\n      \"Fausto, Faustino, Jovita\",\n      \"Samuel\",\n      \"Alexis\",\n      \"Bernardita\",\n      \"Álvaro\",\n      \"Eleuterio, Claudio\",\n      \"Pedro Daminán, Severino\",\n      \"Eleonora, Nora\",\n      \"Florencio\",\n      \"Rubén, Sergio\",\n      \"Néstor\",\n      \"Augusto\",\n      \"Leandro, Gabriel Dol\",\n      \"Román\"\n    ],\n    \"marzo\": [\n      \"Rosendo\",\n      \"Lucio\",\n      \"Celedonio\",\n      \"Ariel\",\n      \"Olivia\",\n      \"Elcira\",\n      \"Perpétua, Felicidad\",\n      \"Juan de Dios\",\n      \"Francisca Romana\",\n      \"Macario\",\n      \"Eulogio\",\n      \"Norma\",\n      \"Rodrigo\",\n      \"Matilde\",\n      \"Luisa de Marillac\",\n      \"Heriberto\",\n      \"Patricio\",\n      \"Cirilo\",\n      \"José\",\n      \"Alejandra\",\n      \"Eugenia\",\n      \"Lea\",\n      \"Dimas\",\n      \"Elba, Catalina de Suecia\",\n      \"Anunciación\",\n      \"Braulio\",\n      \"Ruperto\",\n      \"Octavio\",\n      \"Gladys\",\n      \"Artemio\",\n      \"Benjamín, Balbina\"\n    ],\n    \"abril\": [\n      \"Hugo\",\n      \"Sandra, Francisco de Paula\",\n      \"Ricardo\",\n      \"Isidoro\",\n      \"Vicente Ferrer\",\n      \"Edith\",\n      \"Juan Bautista de La Salle\",\n      \"Constanza\",\n      \"Demetrio\",\n      \"Ezequiel\",\n      \"Estanislao\",\n      \"Arnoldo, Julio\",\n      \"Martín, Aída\",\n      \"Máximo\",\n      \"Crescente\",\n      \"Flavio\",\n      \"Leopoldo, Aniceto\",\n      \"Wladimir\",\n      \"Ema\",\n      \"Edgardo\",\n      \"Anselmo\",\n      \"Karina\",\n      \"Jorge\",\n      \"Fidel\",\n      \"Marcos\",\n      \"Cleto, Marcelino\",\n      \"Zita, Toribio de Mogrovejo\",\n      \"Valeria\",\n      \"Catalina de Siena\",\n      \"Amador, Pío V\"\n    ],\n    \"mayo\": [\n      \"José Obrero\",\n      \"Atanasio, Boris\",\n      \"Santa Cruz\",\n      \"Felipe, Santiago\",\n      \"Judit\",\n      \"Eleodoro\",\n      \"Domitila\",\n      \"Segundo\",\n      \"Isaías\",\n      \"Antonino, Antonina, Solange\",\n      \"Estela\",\n      \"Pancracio, Nereo, Aquiles\",\n      \"Nuestra Sra. Fátima\",\n      \"Matías\",\n      \"Isidro, Denise\",\n      \"Honorato\",\n      \"Pascual Bailón\",\n      \"Erica, Corina\",\n      \"Yvo, Yvonne\",\n      \"Bernardino de Siena\",\n      \"Constantino\",\n      \"Rita\",\n      \"Desiderio\",\n      \"María Auxiliadora, Susana\",\n      \"Beda, Gregorio, María Magdalena de Pazzi\",\n      \"Mariana\",\n      \"Emilio, Agustín de Cantorbery\",\n      \"Germán\",\n      \"Maximiano, Hilda\",\n      \"Fernando, Hernán, Juana de Arco, Lorena\",\n      \"Visitación\"\n    ],\n    \"junio\": [\n      \"Justino, Juvenal\",\n      \"Marcelino, Erasmo\",\n      \"Maximiliano, Carlos Lwanga\",\n      \"Frida\",\n      \"Bonifacio, Salvador\",\n      \"Norberto\",\n      \"Claudio\",\n      \"Armando\",\n      \"Efraín\",\n      \"Paulina\",\n      \"Bernabé, Trinidad\",\n      \"Onofre\",\n      \"Antonio\",\n      \"Eliseo\",\n      \"Leonidas, Manuela, Micaela\",\n      \"Aurelio\",\n      \"Ismael\",\n      \"Salomón\",\n      \"Romualdo\",\n      \"Florentino\",\n      \"Raul, Rodolfo, Luís Gonzaga\",\n      \"Paulino de Nola, Tomás Moro, Juan Fisher\",\n      \"Marcial\",\n      \"Juan Bautista\",\n      \"Guillermo\",\n      \"Pelayo\",\n      \"Cirilo\",\n      \"Ireneo\",\n      \"Pedro, Pablo\",\n      \"Adolfo\"\n    ],\n    \"julio\": [\n      \"Ester\",\n      \"Gloria\",\n      \"Tomás\",\n      \"Isabel, Eliana, Liliana\",\n      \"Antonio-María, Berta\",\n      \"María Goretti\",\n      \"Fermín\",\n      \"Eugenio\",\n      \"Verónica\",\n      \"Elías\",\n      \"Benito\",\n      \"Filomena\",\n      \"Teresa de los Andes, Enrique, Joel\",\n      \"Camilo de Lelis\",\n      \"Buenaventura, Julio, Julia\",\n      \"Carmen\",\n      \"Carolina\",\n      \"Federico\",\n      \"Arsenio\",\n      \"Marina\",\n      \"Daniel\",\n      \"María Magdalena\",\n      \"Brigida\",\n      \"Cristina\",\n      \"Santiago\",\n      \"Joaquín, Ana\",\n      \"Natalia\",\n      \"Celso\",\n      \"Marta\",\n      \"Abdón, Senén\",\n      \"Ignacio de Loyola\"\n    ],\n    \"agosto\": [\n      \"Alfonso María de Ligorio\",\n      \"Eusebio\",\n      \"Lydia\",\n      \"Juan María Vianney\",\n      \"Osvaldo, Nieves\",\n      \"(Transfiguración)\",\n      \"Sixto, Cayetano\",\n      \"Domingo de Guzmán\",\n      \"Justo\",\n      \"Lorenzo\",\n      \"Clara de Asís\",\n      \"Laura\",\n      \"Víctor\",\n      \"Maximiliano Kolbe, Alfredo\",\n      \"Asunción\",\n      \"Esteban de Hungría, Roque\",\n      \"Jacinto\",\n      \"Alberto Hurtado, Elena, Nelly, Leticia\",\n      \"Mariano\",\n      \"Bernardo\",\n      \"Pío X, Graciela\",\n      \"María Reina\",\n      \"Donato\",\n      \"Bartolomé\",\n      \"Luís (rey), José Calasanz\",\n      \"Teresa de Jesús Jornet e Ibars, César\",\n      \"Mónica\",\n      \"Agustín\",\n      \"Juan Bautista, Sabina\",\n      \"Rosa de Lima\",\n      \"Ramón\"\n    ],\n    \"septiembre\": [\n      \"Arturo\",\n      \"Moisés\",\n      \"Gregorio Magno\",\n      \"Irma\",\n      \"Victorino\",\n      \"Eva, Evelyne\",\n      \"Regina\",\n      \"Natividad de la Virgen\",\n      \"Sergio, Omar\",\n      \"Nicolás de Tolentino, Adalberto\",\n      \"Orlando, Rolando\",\n      \"María\",\n      \"Juan Crisóstomo\",\n      \"Imelda\",\n      \"Nuestra Sra. de Dolores\",\n      \"Cornelio, Cipriano\",\n      \"Roberto Belarmino\",\n      \"José de Cupertino\",\n      \"Jenaro\",\n      \"Amelia, Andrés Kim, Pablo Tung\",\n      \"Mateo\",\n      \"Mauricio\",\n      \"Lino, Tecla\",\n      \"Nuestra Sra. del Carmen\",\n      \"Aurelio\",\n      \"Cosme y Damián\",\n      \"Vicente de Paul\",\n      \"Wenceslao\",\n      \"Miguel, Gabriel, Rafael\",\n      \"Jerónimo\"\n    ],\n    \"octubre\": [\n      \"Teresita del Niño Jesús\",\n      \"Angeles Custodios\",\n      \"Gerardo\",\n      \"Francisco de Asís\",\n      \"Flor\",\n      \"Bruno\",\n      \"Nuestra Sra. del Rosario\",\n      \"Nuestra Sra. de Begoña\",\n      \"Dionisio, Juan Leonardi\",\n      \"Francisco de Borja\",\n      \"Soledad\",\n      \"Nuestra Sra. del Pilar\",\n      \"Eduardo\",\n      \"Calixto\",\n      \"Teresa de Avila\",\n      \"Eduvigis, Margarita Ma. Alacoque\",\n      \"Ignacio de Antioquía\",\n      \"Lucas\",\n      \"Pablo de la Cruz, Renato\",\n      \"Irene\",\n      \"Úrsula\",\n      \"Sara\",\n      \"Juan Capistrano, Remigio\",\n      \"Antonio Ma. Claret\",\n      \"Olga\",\n      \"Darío\",\n      \"Gustavo\",\n      \"Simón, Judas\",\n      \"Narciso\",\n      \"Alonso\",\n      \"Quintin\"\n    ],\n    \"noviembre\": [\n      \"Todos los Santos\",\n      \"Todos los Fieles difuntos\",\n      \"Martín de Porres\",\n      \"Carlos Borromeo\",\n      \"Silvia\",\n      \"Leonardo\",\n      \"Ernesto, Ernestina\",\n      \"Ninfa, Godofredo\",\n      \"Teodoro\",\n      \"León Magno\",\n      \"Martín de Tours\",\n      \"Cristián\",\n      \"Diego\",\n      \"Humberto\",\n      \"Alberto Magno\",\n      \"Margarita, Gertrudis\",\n      \"Isabel de Hungría\",\n      \"Elsa\",\n      \"Andrés Avelino\",\n      \"Edmundo\",\n      \"Presentación de la Virgen\",\n      \"Cecilia\",\n      \"Clemento, Columbano\",\n      \"Flora, Andrés Dung-Lac\",\n      \"Catalina Labouré\",\n      \"Delfina\",\n      \"Virgilio\",\n      \"Blanca\",\n      \"Saturnino\",\n      \"Andrés\"\n    ],\n    \"diciembre\": [\n      \"Florencia\",\n      \"Viviana\",\n      \"Francisco Javier\",\n      \"Juan Damaceno, Bárbara\",\n      \"Ada\",\n      \"Nicolás\",\n      \"Ambrosio\",\n      \"Inmaculada Concepción\",\n      \"Jéssica\",\n      \"Nuestra Sra. de Loreto, Eulalia\",\n      \"Dámaso\",\n      \"Nuestra Sra. de Guadalupe\",\n      \"Lucía\",\n      \"Juan de la Cruz\",\n      \"Reinaldo\",\n      \"Alicia\",\n      \"Lázaro\",\n      \"Sonia\",\n      \"Urbano\",\n      \"Abrahám, Isaac, Jacob\",\n      \"Pedro Canisio\",\n      \"Fabiola\",\n      \"Victoria\",\n      \"Adela\",\n      \"Natividad del Señor, Noel, Noelia\",\n      \"Esteban\",\n      \"Juan\",\n      \"Stos. Inocentes\",\n      \"Tomás Becket, David\",\n      \"Rogelio\",\n      \"Silvestre\"\n    ]\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "enero": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "María, Madre de Dios"
                          }
                        },
                        "febrero": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Severiano"
                          }
                        },
                        "marzo": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Rosendo"
                          }
                        },
                        "abril": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Hugo"
                          }
                        },
                        "mayo": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "José Obrero"
                          }
                        },
                        "junio": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Justino, Juvenal"
                          }
                        },
                        "julio": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Ester"
                          }
                        },
                        "agosto": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Alfonso María de Ligorio"
                          }
                        },
                        "septiembre": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Arturo"
                          }
                        },
                        "octubre": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Teresita del Niño Jesús"
                          }
                        },
                        "noviembre": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Todos los Santos"
                          }
                        },
                        "diciembre": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Florencia"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/santorales/{when}.json": {
      "get": {
        "summary": "Santoral específico",
        "description": "",
        "operationId": "saints-yesterday-today-or-tomorrow",
        "parameters": [
          {
            "name": "when",
            "in": "path",
            "description": "Especifica qué santoral deseas obtener.",
            "schema": {
              "type": "string",
              "enum": [
                "hoy",
                "ayer",
                "manana"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"status\": \"success\",\n\t\"data\": [\n\t\t\"Paulina\"\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Paulina"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/economy/indicator/dolar.json": {
      "get": {
        "summary": "Dólar hoy",
        "description": "",
        "operationId": "economy-dolar-today",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"date\": \"2023-11-10\",\n    \"value\": 902.89\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "example": "2023-11-10"
                        },
                        "value": {
                          "type": "number",
                          "example": 902.89,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/economy/indicator/dolar/{year}.json": {
      "get": {
        "summary": "Dólar anual",
        "description": "",
        "operationId": "economy-dolar-year",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "Año para consulta, ej: `2022`",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"date\": \"2022-01-03\",\n      \"value\": 844.69\n    },\n    {\n      \"date\": \"2022-01-04\",\n      \"value\": 851.43\n    },\n    {\n      \"date\": \"2022-01-05\",\n      \"value\": 852.03\n    },\n    {\n      \"date\": \"2022-01-06\",\n      \"value\": 841.63\n    },\n    {\n      \"date\": \"2022-01-07\",\n      \"value\": 838.88\n    },\n    {\n      \"date\": \"2022-01-10\",\n      \"value\": 831.59\n    },\n    {\n      \"date\": \"2022-01-11\",\n      \"value\": 831.39\n    },\n    {\n      \"date\": \"2022-01-12\",\n      \"value\": 832.6\n    },\n    {\n      \"date\": \"2022-01-13\",\n      \"value\": 826.51\n    },\n    {\n      \"date\": \"2022-01-14\",\n      \"value\": 821.87\n    },\n    {\n      \"date\": \"2022-01-17\",\n      \"value\": 815.39\n    },\n    {\n      \"date\": \"2022-01-18\",\n      \"value\": 822\n    },\n    {\n      \"date\": \"2022-01-19\",\n      \"value\": 820.6\n    },\n    {\n      \"date\": \"2022-01-20\",\n      \"value\": 813.46\n    },\n    {\n      \"date\": \"2022-01-21\",\n      \"value\": 805.25\n    },\n    {\n      \"date\": \"2022-01-24\",\n      \"value\": 799.23\n    },\n    {\n      \"date\": \"2022-01-25\",\n      \"value\": 800.31\n    },\n    {\n      \"date\": \"2022-01-26\",\n      \"value\": 806.06\n    },\n    {\n      \"date\": \"2022-01-27\",\n      \"value\": 798.86\n    },\n    {\n      \"date\": \"2022-01-28\",\n      \"value\": 799.15\n    },\n    {\n      \"date\": \"2022-01-31\",\n      \"value\": 810.12\n    },\n    {\n      \"date\": \"2022-02-01\",\n      \"value\": 803.88\n    },\n    {\n      \"date\": \"2022-02-02\",\n      \"value\": 801.52\n    },\n    {\n      \"date\": \"2022-02-03\",\n      \"value\": 805.95\n    },\n    {\n      \"date\": \"2022-02-04\",\n      \"value\": 817.29\n    },\n    {\n      \"date\": \"2022-02-07\",\n      \"value\": 825.58\n    },\n    {\n      \"date\": \"2022-02-08\",\n      \"value\": 826.93\n    },\n    {\n      \"date\": \"2022-02-09\",\n      \"value\": 824.33\n    },\n    {\n      \"date\": \"2022-02-10\",\n      \"value\": 820.79\n    },\n    {\n      \"date\": \"2022-02-11\",\n      \"value\": 804.2\n    },\n    {\n      \"date\": \"2022-02-14\",\n      \"value\": 806.24\n    },\n    {\n      \"date\": \"2022-02-15\",\n      \"value\": 812.24\n    },\n    {\n      \"date\": \"2022-02-16\",\n      \"value\": 804.17\n    },\n    {\n      \"date\": \"2022-02-17\",\n      \"value\": 799.55\n    },\n    {\n      \"date\": \"2022-02-18\",\n      \"value\": 798.98\n    },\n    {\n      \"date\": \"2022-02-21\",\n      \"value\": 793.91\n    },\n    {\n      \"date\": \"2022-02-22\",\n      \"value\": 799.99\n    },\n    {\n      \"date\": \"2022-02-23\",\n      \"value\": 796.25\n    },\n    {\n      \"date\": \"2022-02-24\",\n      \"value\": 787.05\n    },\n    {\n      \"date\": \"2022-02-25\",\n      \"value\": 807.26\n    },\n    {\n      \"date\": \"2022-02-28\",\n      \"value\": 805.25\n    },\n    {\n      \"date\": \"2022-03-01\",\n      \"value\": 798.01\n    },\n    {\n      \"date\": \"2022-03-02\",\n      \"value\": 803.27\n    },\n    {\n      \"date\": \"2022-03-03\",\n      \"value\": 807.31\n    },\n    {\n      \"date\": \"2022-03-04\",\n      \"value\": 800.97\n    },\n    {\n      \"date\": \"2022-03-07\",\n      \"value\": 806.89\n    },\n    {\n      \"date\": \"2022-03-08\",\n      \"value\": 808.6\n    },\n    {\n      \"date\": \"2022-03-09\",\n      \"value\": 812.03\n    },\n    {\n      \"date\": \"2022-03-10\",\n      \"value\": 803.57\n    },\n    {\n      \"date\": \"2022-03-11\",\n      \"value\": 806.03\n    },\n    {\n      \"date\": \"2022-03-14\",\n      \"value\": 802.48\n    },\n    {\n      \"date\": \"2022-03-15\",\n      \"value\": 808.41\n    },\n    {\n      \"date\": \"2022-03-16\",\n      \"value\": 815.03\n    },\n    {\n      \"date\": \"2022-03-17\",\n      \"value\": 803.55\n    },\n    {\n      \"date\": \"2022-03-18\",\n      \"value\": 798.13\n    },\n    {\n      \"date\": \"2022-03-21\",\n      \"value\": 802.23\n    },\n    {\n      \"date\": \"2022-03-22\",\n      \"value\": 798.5\n    },\n    {\n      \"date\": \"2022-03-23\",\n      \"value\": 793.22\n    },\n    {\n      \"date\": \"2022-03-24\",\n      \"value\": 794.44\n    },\n    {\n      \"date\": \"2022-03-25\",\n      \"value\": 789.87\n    },\n    {\n      \"date\": \"2022-03-28\",\n      \"value\": 785.89\n    },\n    {\n      \"date\": \"2022-03-29\",\n      \"value\": 778.62\n    },\n    {\n      \"date\": \"2022-03-30\",\n      \"value\": 777.1\n    },\n    {\n      \"date\": \"2022-03-31\",\n      \"value\": 787.16\n    },\n    {\n      \"date\": \"2022-04-01\",\n      \"value\": 787.98\n    },\n    {\n      \"date\": \"2022-04-04\",\n      \"value\": 783.45\n    },\n    {\n      \"date\": \"2022-04-05\",\n      \"value\": 779.33\n    },\n    {\n      \"date\": \"2022-04-06\",\n      \"value\": 783.28\n    },\n    {\n      \"date\": \"2022-04-07\",\n      \"value\": 794.58\n    },\n    {\n      \"date\": \"2022-04-08\",\n      \"value\": 807.88\n    },\n    {\n      \"date\": \"2022-04-11\",\n      \"value\": 814.28\n    },\n    {\n      \"date\": \"2022-04-12\",\n      \"value\": 818.53\n    },\n    {\n      \"date\": \"2022-04-13\",\n      \"value\": 806.73\n    },\n    {\n      \"date\": \"2022-04-14\",\n      \"value\": 804.78\n    },\n    {\n      \"date\": \"2022-04-18\",\n      \"value\": 814.73\n    },\n    {\n      \"date\": \"2022-04-19\",\n      \"value\": 817.7\n    },\n    {\n      \"date\": \"2022-04-20\",\n      \"value\": 818.18\n    },\n    {\n      \"date\": \"2022-04-21\",\n      \"value\": 816.29\n    },\n    {\n      \"date\": \"2022-04-22\",\n      \"value\": 817.85\n    },\n    {\n      \"date\": \"2022-04-23\",\n      \"value\": 834.45\n    },\n    {\n      \"date\": \"2022-04-25\",\n      \"value\": 834.45\n    },\n    {\n      \"date\": \"2022-04-26\",\n      \"value\": 850.85\n    },\n    {\n      \"date\": \"2022-04-27\",\n      \"value\": 847.57\n    },\n    {\n      \"date\": \"2022-04-28\",\n      \"value\": 847.44\n    },\n    {\n      \"date\": \"2022-04-29\",\n      \"value\": 856.58\n    },\n    {\n      \"date\": \"2022-05-02\",\n      \"value\": 850.78\n    },\n    {\n      \"date\": \"2022-05-03\",\n      \"value\": 860.64\n    },\n    {\n      \"date\": \"2022-05-04\",\n      \"value\": 856.74\n    },\n    {\n      \"date\": \"2022-05-05\",\n      \"value\": 859.33\n    },\n    {\n      \"date\": \"2022-05-06\",\n      \"value\": 863.1\n    },\n    {\n      \"date\": \"2022-05-09\",\n      \"value\": 857.58\n    },\n    {\n      \"date\": \"2022-05-10\",\n      \"value\": 867.87\n    },\n    {\n      \"date\": \"2022-05-11\",\n      \"value\": 868.06\n    },\n    {\n      \"date\": \"2022-05-12\",\n      \"value\": 861.76\n    },\n    {\n      \"date\": \"2022-05-13\",\n      \"value\": 867.93\n    },\n    {\n      \"date\": \"2022-05-16\",\n      \"value\": 861.04\n    },\n    {\n      \"date\": \"2022-05-17\",\n      \"value\": 857.98\n    },\n    {\n      \"date\": \"2022-05-18\",\n      \"value\": 850.78\n    },\n    {\n      \"date\": \"2022-05-19\",\n      \"value\": 849.9\n    },\n    {\n      \"date\": \"2022-05-20\",\n      \"value\": 842.38\n    },\n    {\n      \"date\": \"2022-05-23\",\n      \"value\": 833.58\n    },\n    {\n      \"date\": \"2022-05-24\",\n      \"value\": 829.59\n    },\n    {\n      \"date\": \"2022-05-25\",\n      \"value\": 833.99\n    },\n    {\n      \"date\": \"2022-05-26\",\n      \"value\": 835.43\n    },\n    {\n      \"date\": \"2022-05-27\",\n      \"value\": 829.61\n    },\n    {\n      \"date\": \"2022-05-30\",\n      \"value\": 822.25\n    },\n    {\n      \"date\": \"2022-05-31\",\n      \"value\": 826.26\n    },\n    {\n      \"date\": \"2022-06-01\",\n      \"value\": 824.35\n    },\n    {\n      \"date\": \"2022-06-02\",\n      \"value\": 825.28\n    },\n    {\n      \"date\": \"2022-06-03\",\n      \"value\": 815.56\n    },\n    {\n      \"date\": \"2022-06-06\",\n      \"value\": 813.38\n    },\n    {\n      \"date\": \"2022-06-07\",\n      \"value\": 817.99\n    },\n    {\n      \"date\": \"2022-06-08\",\n      \"value\": 828.99\n    },\n    {\n      \"date\": \"2022-06-09\",\n      \"value\": 821.66\n    },\n    {\n      \"date\": \"2022-06-10\",\n      \"value\": 827.19\n    },\n    {\n      \"date\": \"2022-06-13\",\n      \"value\": 838.61\n    },\n    {\n      \"date\": \"2022-06-14\",\n      \"value\": 863.33\n    },\n    {\n      \"date\": \"2022-06-15\",\n      \"value\": 866.79\n    },\n    {\n      \"date\": \"2022-06-16\",\n      \"value\": 863.95\n    },\n    {\n      \"date\": \"2022-06-17\",\n      \"value\": 869.62\n    },\n    {\n      \"date\": \"2022-06-20\",\n      \"value\": 875.65\n    },\n    {\n      \"date\": \"2022-06-22\",\n      \"value\": 880.82\n    },\n    {\n      \"date\": \"2022-06-23\",\n      \"value\": 886.64\n    },\n    {\n      \"date\": \"2022-06-24\",\n      \"value\": 898.8\n    },\n    {\n      \"date\": \"2022-06-28\",\n      \"value\": 911.49\n    },\n    {\n      \"date\": \"2022-06-29\",\n      \"value\": 905.32\n    },\n    {\n      \"date\": \"2022-06-30\",\n      \"value\": 919.97\n    },\n    {\n      \"date\": \"2022-07-01\",\n      \"value\": 932.08\n    },\n    {\n      \"date\": \"2022-07-04\",\n      \"value\": 934.54\n    },\n    {\n      \"date\": \"2022-07-05\",\n      \"value\": 927.53\n    },\n    {\n      \"date\": \"2022-07-06\",\n      \"value\": 948.51\n    },\n    {\n      \"date\": \"2022-07-07\",\n      \"value\": 972.66\n    },\n    {\n      \"date\": \"2022-07-08\",\n      \"value\": 959.7\n    },\n    {\n      \"date\": \"2022-07-11\",\n      \"value\": 966.74\n    },\n    {\n      \"date\": \"2022-07-12\",\n      \"value\": 989.95\n    },\n    {\n      \"date\": \"2022-07-13\",\n      \"value\": 1008.81\n    },\n    {\n      \"date\": \"2022-07-14\",\n      \"value\": 1010.16\n    },\n    {\n      \"date\": \"2022-07-15\",\n      \"value\": 1042.97\n    },\n    {\n      \"date\": \"2022-07-18\",\n      \"value\": 988.22\n    },\n    {\n      \"date\": \"2022-07-19\",\n      \"value\": 940.9\n    },\n    {\n      \"date\": \"2022-07-20\",\n      \"value\": 929.83\n    },\n    {\n      \"date\": \"2022-07-21\",\n      \"value\": 919.93\n    },\n    {\n      \"date\": \"2022-07-22\",\n      \"value\": 927.49\n    },\n    {\n      \"date\": \"2022-07-25\",\n      \"value\": 932.83\n    },\n    {\n      \"date\": \"2022-07-26\",\n      \"value\": 941.03\n    },\n    {\n      \"date\": \"2022-07-27\",\n      \"value\": 922.04\n    },\n    {\n      \"date\": \"2022-07-28\",\n      \"value\": 920.49\n    },\n    {\n      \"date\": \"2022-07-29\",\n      \"value\": 911.42\n    },\n    {\n      \"date\": \"2022-08-01\",\n      \"value\": 905.1\n    },\n    {\n      \"date\": \"2022-08-02\",\n      \"value\": 893.19\n    },\n    {\n      \"date\": \"2022-08-03\",\n      \"value\": 897.22\n    },\n    {\n      \"date\": \"2022-08-04\",\n      \"value\": 907.82\n    },\n    {\n      \"date\": \"2022-08-05\",\n      \"value\": 903.91\n    },\n    {\n      \"date\": \"2022-08-08\",\n      \"value\": 914.49\n    },\n    {\n      \"date\": \"2022-08-09\",\n      \"value\": 906.03\n    },\n    {\n      \"date\": \"2022-08-10\",\n      \"value\": 900.78\n    },\n    {\n      \"date\": \"2022-08-11\",\n      \"value\": 889.38\n    },\n    {\n      \"date\": \"2022-08-12\",\n      \"value\": 882.33\n    },\n    {\n      \"date\": \"2022-08-16\",\n      \"value\": 882.72\n    },\n    {\n      \"date\": \"2022-08-17\",\n      \"value\": 882.2\n    },\n    {\n      \"date\": \"2022-08-18\",\n      \"value\": 895.76\n    },\n    {\n      \"date\": \"2022-08-19\",\n      \"value\": 918.2\n    },\n    {\n      \"date\": \"2022-08-22\",\n      \"value\": 945.35\n    },\n    {\n      \"date\": \"2022-08-23\",\n      \"value\": 945.47\n    },\n    {\n      \"date\": \"2022-08-24\",\n      \"value\": 926.94\n    },\n    {\n      \"date\": \"2022-08-25\",\n      \"value\": 915.6\n    },\n    {\n      \"date\": \"2022-08-26\",\n      \"value\": 910.03\n    },\n    {\n      \"date\": \"2022-08-29\",\n      \"value\": 900.22\n    },\n    {\n      \"date\": \"2022-08-30\",\n      \"value\": 890.9\n    },\n    {\n      \"date\": \"2022-08-31\",\n      \"value\": 882.11\n    },\n    {\n      \"date\": \"2022-09-01\",\n      \"value\": 898.04\n    },\n    {\n      \"date\": \"2022-09-02\",\n      \"value\": 898.24\n    },\n    {\n      \"date\": \"2022-09-05\",\n      \"value\": 885.52\n    },\n    {\n      \"date\": \"2022-09-06\",\n      \"value\": 866.28\n    },\n    {\n      \"date\": \"2022-09-07\",\n      \"value\": 888.51\n    },\n    {\n      \"date\": \"2022-09-08\",\n      \"value\": 886.34\n    },\n    {\n      \"date\": \"2022-09-09\",\n      \"value\": 881.04\n    },\n    {\n      \"date\": \"2022-09-12\",\n      \"value\": 885.15\n    },\n    {\n      \"date\": \"2022-09-13\",\n      \"value\": 898.69\n    },\n    {\n      \"date\": \"2022-09-14\",\n      \"value\": 910.27\n    },\n    {\n      \"date\": \"2022-09-15\",\n      \"value\": 917.11\n    },\n    {\n      \"date\": \"2022-09-20\",\n      \"value\": 922.6\n    },\n    {\n      \"date\": \"2022-09-21\",\n      \"value\": 928.25\n    },\n    {\n      \"date\": \"2022-09-22\",\n      \"value\": 938.82\n    },\n    {\n      \"date\": \"2022-09-23\",\n      \"value\": 943.07\n    },\n    {\n      \"date\": \"2022-09-26\",\n      \"value\": 965.18\n    },\n    {\n      \"date\": \"2022-09-27\",\n      \"value\": 987.07\n    },\n    {\n      \"date\": \"2022-09-28\",\n      \"value\": 982.83\n    },\n    {\n      \"date\": \"2022-09-29\",\n      \"value\": 971.14\n    },\n    {\n      \"date\": \"2022-09-30\",\n      \"value\": 966\n    },\n    {\n      \"date\": \"2022-10-03\",\n      \"value\": 960.24\n    },\n    {\n      \"date\": \"2022-10-04\",\n      \"value\": 955.42\n    },\n    {\n      \"date\": \"2022-10-05\",\n      \"value\": 931.12\n    },\n    {\n      \"date\": \"2022-10-06\",\n      \"value\": 942.02\n    },\n    {\n      \"date\": \"2022-10-07\",\n      \"value\": 943.92\n    },\n    {\n      \"date\": \"2022-10-11\",\n      \"value\": 945.06\n    },\n    {\n      \"date\": \"2022-10-12\",\n      \"value\": 933.88\n    },\n    {\n      \"date\": \"2022-10-13\",\n      \"value\": 933.14\n    },\n    {\n      \"date\": \"2022-10-14\",\n      \"value\": 944.75\n    },\n    {\n      \"date\": \"2022-10-17\",\n      \"value\": 950.72\n    },\n    {\n      \"date\": \"2022-10-18\",\n      \"value\": 967.73\n    },\n    {\n      \"date\": \"2022-10-19\",\n      \"value\": 972.03\n    },\n    {\n      \"date\": \"2022-10-20\",\n      \"value\": 978.06\n    },\n    {\n      \"date\": \"2022-10-21\",\n      \"value\": 972.08\n    },\n    {\n      \"date\": \"2022-10-24\",\n      \"value\": 978.49\n    },\n    {\n      \"date\": \"2022-10-25\",\n      \"value\": 983.91\n    },\n    {\n      \"date\": \"2022-10-26\",\n      \"value\": 971.12\n    },\n    {\n      \"date\": \"2022-10-27\",\n      \"value\": 953\n    },\n    {\n      \"date\": \"2022-10-28\",\n      \"value\": 945.31\n    },\n    {\n      \"date\": \"2022-11-02\",\n      \"value\": 936.35\n    },\n    {\n      \"date\": \"2022-11-03\",\n      \"value\": 937.79\n    },\n    {\n      \"date\": \"2022-11-04\",\n      \"value\": 948.74\n    },\n    {\n      \"date\": \"2022-11-07\",\n      \"value\": 932.37\n    },\n    {\n      \"date\": \"2022-11-08\",\n      \"value\": 919.58\n    },\n    {\n      \"date\": \"2022-11-09\",\n      \"value\": 907.35\n    },\n    {\n      \"date\": \"2022-11-10\",\n      \"value\": 904.42\n    },\n    {\n      \"date\": \"2022-11-11\",\n      \"value\": 893.54\n    },\n    {\n      \"date\": \"2022-11-14\",\n      \"value\": 887.46\n    },\n    {\n      \"date\": \"2022-11-15\",\n      \"value\": 898.72\n    },\n    {\n      \"date\": \"2022-11-16\",\n      \"value\": 889.14\n    },\n    {\n      \"date\": \"2022-11-17\",\n      \"value\": 895.68\n    },\n    {\n      \"date\": \"2022-11-18\",\n      \"value\": 920.86\n    },\n    {\n      \"date\": \"2022-11-21\",\n      \"value\": 929.3\n    },\n    {\n      \"date\": \"2022-11-22\",\n      \"value\": 947.06\n    },\n    {\n      \"date\": \"2022-11-23\",\n      \"value\": 935.29\n    },\n    {\n      \"date\": \"2022-11-24\",\n      \"value\": 924.63\n    },\n    {\n      \"date\": \"2022-11-25\",\n      \"value\": 911.96\n    },\n    {\n      \"date\": \"2022-11-28\",\n      \"value\": 915.81\n    },\n    {\n      \"date\": \"2022-11-29\",\n      \"value\": 916.36\n    },\n    {\n      \"date\": \"2022-11-30\",\n      \"value\": 905.7\n    },\n    {\n      \"date\": \"2022-12-01\",\n      \"value\": 894.82\n    },\n    {\n      \"date\": \"2022-12-02\",\n      \"value\": 885.77\n    },\n    {\n      \"date\": \"2022-12-05\",\n      \"value\": 881.87\n    },\n    {\n      \"date\": \"2022-12-06\",\n      \"value\": 886.26\n    },\n    {\n      \"date\": \"2022-12-07\",\n      \"value\": 884.74\n    },\n    {\n      \"date\": \"2022-12-09\",\n      \"value\": 878.58\n    },\n    {\n      \"date\": \"2022-12-12\",\n      \"value\": 861.51\n    },\n    {\n      \"date\": \"2022-12-13\",\n      \"value\": 860.03\n    },\n    {\n      \"date\": \"2022-12-14\",\n      \"value\": 858.07\n    },\n    {\n      \"date\": \"2022-12-15\",\n      \"value\": 862.85\n    },\n    {\n      \"date\": \"2022-12-16\",\n      \"value\": 875.56\n    },\n    {\n      \"date\": \"2022-12-19\",\n      \"value\": 885.99\n    },\n    {\n      \"date\": \"2022-12-20\",\n      \"value\": 888.27\n    },\n    {\n      \"date\": \"2022-12-21\",\n      \"value\": 889.65\n    },\n    {\n      \"date\": \"2022-12-22\",\n      \"value\": 879.48\n    },\n    {\n      \"date\": \"2022-12-23\",\n      \"value\": 867.01\n    },\n    {\n      \"date\": \"2022-12-26\",\n      \"value\": 876.22\n    },\n    {\n      \"date\": \"2022-12-27\",\n      \"value\": 879.19\n    },\n    {\n      \"date\": \"2022-12-28\",\n      \"value\": 876.75\n    },\n    {\n      \"date\": \"2022-12-29\",\n      \"value\": 856.76\n    },\n    {\n      \"date\": \"2022-12-30\",\n      \"value\": 859.51\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "example": "2022-01-03"
                          },
                          "value": {
                            "type": "number",
                            "example": 844.69,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/economy/indicator/euro.json": {
      "get": {
        "summary": "Euro hoy",
        "description": "",
        "operationId": "economy-euro-today",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"date\": \"2023-11-10\",\n    \"value\": 966.59\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "example": "2023-11-10"
                        },
                        "value": {
                          "type": "number",
                          "example": 966.59,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/economy/indicator/uf.json": {
      "get": {
        "summary": "UF hoy",
        "description": "",
        "operationId": "economy-uf-today",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"date\": \"2023-11-10\",\n    \"value\": 36466.69\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "example": "2023-11-10"
                        },
                        "value": {
                          "type": "number",
                          "example": 36466.69,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/economy/indicator/utm.json": {
      "get": {
        "summary": "UTM hoy",
        "description": "",
        "operationId": "economy-utm-today",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"date\": \"2023-11-01\",\n    \"value\": 63960\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "example": "2023-11-01"
                        },
                        "value": {
                          "type": "integer",
                          "example": 63960,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/economy/indicator/ipc.json": {
      "get": {
        "summary": "IPC hoy",
        "description": "",
        "operationId": "economy-ipc-today",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"date\": \"2023-10-01\",\n    \"value\": 0.4\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "example": "2023-10-01"
                        },
                        "value": {
                          "type": "number",
                          "example": 0.4,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/economy/indicator/euro/{year}.json": {
      "get": {
        "summary": "Euro anual",
        "description": "",
        "operationId": "economy-euro-year",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "Año para consulta, ej: `2022`",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"date\": \"2022-01-03\",\n      \"value\": 955.64\n    },\n    {\n      \"date\": \"2022-01-04\",\n      \"value\": 960.44\n    },\n    {\n      \"date\": \"2022-01-05\",\n      \"value\": 961.88\n    },\n    {\n      \"date\": \"2022-01-06\",\n      \"value\": 954.45\n    },\n    {\n      \"date\": \"2022-01-07\",\n      \"value\": 948.53\n    },\n    {\n      \"date\": \"2022-01-10\",\n      \"value\": 944.34\n    },\n    {\n      \"date\": \"2022-01-11\",\n      \"value\": 942.08\n    },\n    {\n      \"date\": \"2022-01-12\",\n      \"value\": 945.6\n    },\n    {\n      \"date\": \"2022-01-13\",\n      \"value\": 945.34\n    },\n    {\n      \"date\": \"2022-01-14\",\n      \"value\": 942.08\n    },\n    {\n      \"date\": \"2022-01-17\",\n      \"value\": 930.07\n    },\n    {\n      \"date\": \"2022-01-18\",\n      \"value\": 938.03\n    },\n    {\n      \"date\": \"2022-01-19\",\n      \"value\": 929.54\n    },\n    {\n      \"date\": \"2022-01-20\",\n      \"value\": 923.02\n    },\n    {\n      \"date\": \"2022-01-21\",\n      \"value\": 912.46\n    },\n    {\n      \"date\": \"2022-01-24\",\n      \"value\": 906.88\n    },\n    {\n      \"date\": \"2022-01-25\",\n      \"value\": 906.05\n    },\n    {\n      \"date\": \"2022-01-26\",\n      \"value\": 909.57\n    },\n    {\n      \"date\": \"2022-01-27\",\n      \"value\": 901.65\n    },\n    {\n      \"date\": \"2022-01-28\",\n      \"value\": 890.81\n    },\n    {\n      \"date\": \"2022-01-31\",\n      \"value\": 903.85\n    },\n    {\n      \"date\": \"2022-02-01\",\n      \"value\": 901.51\n    },\n    {\n      \"date\": \"2022-02-02\",\n      \"value\": 901.19\n    },\n    {\n      \"date\": \"2022-02-03\",\n      \"value\": 911.3\n    },\n    {\n      \"date\": \"2022-02-04\",\n      \"value\": 934.47\n    },\n    {\n      \"date\": \"2022-02-07\",\n      \"value\": 946.01\n    },\n    {\n      \"date\": \"2022-02-08\",\n      \"value\": 944.42\n    },\n    {\n      \"date\": \"2022-02-09\",\n      \"value\": 941.66\n    },\n    {\n      \"date\": \"2022-02-10\",\n      \"value\": 938.69\n    },\n    {\n      \"date\": \"2022-02-11\",\n      \"value\": 922.46\n    },\n    {\n      \"date\": \"2022-02-14\",\n      \"value\": 919\n    },\n    {\n      \"date\": \"2022-02-15\",\n      \"value\": 918.41\n    },\n    {\n      \"date\": \"2022-02-16\",\n      \"value\": 912.59\n    },\n    {\n      \"date\": \"2022-02-17\",\n      \"value\": 909.72\n    },\n    {\n      \"date\": \"2022-02-18\",\n      \"value\": 908.04\n    },\n    {\n      \"date\": \"2022-02-21\",\n      \"value\": 898.49\n    },\n    {\n      \"date\": \"2022-02-22\",\n      \"value\": 907.43\n    },\n    {\n      \"date\": \"2022-02-23\",\n      \"value\": 902.27\n    },\n    {\n      \"date\": \"2022-02-24\",\n      \"value\": 890.63\n    },\n    {\n      \"date\": \"2022-02-25\",\n      \"value\": 902.07\n    },\n    {\n      \"date\": \"2022-02-28\",\n      \"value\": 905.69\n    },\n    {\n      \"date\": \"2022-03-01\",\n      \"value\": 894.23\n    },\n    {\n      \"date\": \"2022-03-02\",\n      \"value\": 892.13\n    },\n    {\n      \"date\": \"2022-03-03\",\n      \"value\": 894.53\n    },\n    {\n      \"date\": \"2022-03-04\",\n      \"value\": 884.56\n    },\n    {\n      \"date\": \"2022-03-07\",\n      \"value\": 881.17\n    },\n    {\n      \"date\": \"2022-03-08\",\n      \"value\": 879.39\n    },\n    {\n      \"date\": \"2022-03-09\",\n      \"value\": 887.76\n    },\n    {\n      \"date\": \"2022-03-10\",\n      \"value\": 889.79\n    },\n    {\n      \"date\": \"2022-03-11\",\n      \"value\": 886.92\n    },\n    {\n      \"date\": \"2022-03-14\",\n      \"value\": 876.07\n    },\n    {\n      \"date\": \"2022-03-15\",\n      \"value\": 886.71\n    },\n    {\n      \"date\": \"2022-03-16\",\n      \"value\": 891.91\n    },\n    {\n      \"date\": \"2022-03-17\",\n      \"value\": 883.41\n    },\n    {\n      \"date\": \"2022-03-18\",\n      \"value\": 888.09\n    },\n    {\n      \"date\": \"2022-03-21\",\n      \"value\": 886.93\n    },\n    {\n      \"date\": \"2022-03-22\",\n      \"value\": 880.86\n    },\n    {\n      \"date\": \"2022-03-23\",\n      \"value\": 874.55\n    },\n    {\n      \"date\": \"2022-03-24\",\n      \"value\": 874.16\n    },\n    {\n      \"date\": \"2022-03-25\",\n      \"value\": 868.18\n    },\n    {\n      \"date\": \"2022-03-28\",\n      \"value\": 863.52\n    },\n    {\n      \"date\": \"2022-03-29\",\n      \"value\": 856.19\n    },\n    {\n      \"date\": \"2022-03-30\",\n      \"value\": 860.96\n    },\n    {\n      \"date\": \"2022-03-31\",\n      \"value\": 878.04\n    },\n    {\n      \"date\": \"2022-04-01\",\n      \"value\": 873.69\n    },\n    {\n      \"date\": \"2022-04-04\",\n      \"value\": 864.54\n    },\n    {\n      \"date\": \"2022-04-05\",\n      \"value\": 854.53\n    },\n    {\n      \"date\": \"2022-04-06\",\n      \"value\": 854.46\n    },\n    {\n      \"date\": \"2022-04-07\",\n      \"value\": 865.08\n    },\n    {\n      \"date\": \"2022-04-08\",\n      \"value\": 879.28\n    },\n    {\n      \"date\": \"2022-04-11\",\n      \"value\": 885.47\n    },\n    {\n      \"date\": \"2022-04-12\",\n      \"value\": 891.35\n    },\n    {\n      \"date\": \"2022-04-13\",\n      \"value\": 873.37\n    },\n    {\n      \"date\": \"2022-04-14\",\n      \"value\": 875.81\n    },\n    {\n      \"date\": \"2022-04-18\",\n      \"value\": 882.12\n    },\n    {\n      \"date\": \"2022-04-19\",\n      \"value\": 881.81\n    },\n    {\n      \"date\": \"2022-04-20\",\n      \"value\": 882.52\n    },\n    {\n      \"date\": \"2022-04-21\",\n      \"value\": 885.73\n    },\n    {\n      \"date\": \"2022-04-22\",\n      \"value\": 886.37\n    },\n    {\n      \"date\": \"2022-04-25\",\n      \"value\": 900.45\n    },\n    {\n      \"date\": \"2022-04-26\",\n      \"value\": 911.85\n    },\n    {\n      \"date\": \"2022-04-27\",\n      \"value\": 901.77\n    },\n    {\n      \"date\": \"2022-04-28\",\n      \"value\": 894.96\n    },\n    {\n      \"date\": \"2022-04-29\",\n      \"value\": 900.05\n    },\n    {\n      \"date\": \"2022-05-02\",\n      \"value\": 899.06\n    },\n    {\n      \"date\": \"2022-05-03\",\n      \"value\": 903.46\n    },\n    {\n      \"date\": \"2022-05-04\",\n      \"value\": 901.26\n    },\n    {\n      \"date\": \"2022-05-05\",\n      \"value\": 905.42\n    },\n    {\n      \"date\": \"2022-05-06\",\n      \"value\": 907\n    },\n    {\n      \"date\": \"2022-05-09\",\n      \"value\": 904.81\n    },\n    {\n      \"date\": \"2022-05-10\",\n      \"value\": 916.05\n    },\n    {\n      \"date\": \"2022-05-11\",\n      \"value\": 913.94\n    },\n    {\n      \"date\": \"2022-05-12\",\n      \"value\": 907.4\n    },\n    {\n      \"date\": \"2022-05-13\",\n      \"value\": 899.78\n    },\n    {\n      \"date\": \"2022-05-16\",\n      \"value\": 895.52\n    },\n    {\n      \"date\": \"2022-05-17\",\n      \"value\": 895.03\n    },\n    {\n      \"date\": \"2022-05-18\",\n      \"value\": 895.56\n    },\n    {\n      \"date\": \"2022-05-19\",\n      \"value\": 890.97\n    },\n    {\n      \"date\": \"2022-05-20\",\n      \"value\": 892.73\n    },\n    {\n      \"date\": \"2022-05-23\",\n      \"value\": 878.19\n    },\n    {\n      \"date\": \"2022-05-24\",\n      \"value\": 886.31\n    },\n    {\n      \"date\": \"2022-05-25\",\n      \"value\": 894.74\n    },\n    {\n      \"date\": \"2022-05-26\",\n      \"value\": 891.98\n    },\n    {\n      \"date\": \"2022-05-27\",\n      \"value\": 889.47\n    },\n    {\n      \"date\": \"2022-05-30\",\n      \"value\": 881.67\n    },\n    {\n      \"date\": \"2022-05-31\",\n      \"value\": 890.85\n    },\n    {\n      \"date\": \"2022-06-01\",\n      \"value\": 885.54\n    },\n    {\n      \"date\": \"2022-06-02\",\n      \"value\": 879.08\n    },\n    {\n      \"date\": \"2022-06-03\",\n      \"value\": 876.29\n    },\n    {\n      \"date\": \"2022-06-06\",\n      \"value\": 871.88\n    },\n    {\n      \"date\": \"2022-06-07\",\n      \"value\": 874.48\n    },\n    {\n      \"date\": \"2022-06-08\",\n      \"value\": 887.95\n    },\n    {\n      \"date\": \"2022-06-09\",\n      \"value\": 880.29\n    },\n    {\n      \"date\": \"2022-06-10\",\n      \"value\": 879.05\n    },\n    {\n      \"date\": \"2022-06-13\",\n      \"value\": 882.1\n    },\n    {\n      \"date\": \"2022-06-14\",\n      \"value\": 900.24\n    },\n    {\n      \"date\": \"2022-06-15\",\n      \"value\": 903.47\n    },\n    {\n      \"date\": \"2022-06-16\",\n      \"value\": 896.68\n    },\n    {\n      \"date\": \"2022-06-17\",\n      \"value\": 918.97\n    },\n    {\n      \"date\": \"2022-06-20\",\n      \"value\": 918.84\n    },\n    {\n      \"date\": \"2022-06-22\",\n      \"value\": 925.33\n    },\n    {\n      \"date\": \"2022-06-23\",\n      \"value\": 937.65\n    },\n    {\n      \"date\": \"2022-06-24\",\n      \"value\": 945.21\n    },\n    {\n      \"date\": \"2022-06-28\",\n      \"value\": 961.69\n    },\n    {\n      \"date\": \"2022-06-29\",\n      \"value\": 953.07\n    },\n    {\n      \"date\": \"2022-06-30\",\n      \"value\": 960.9\n    },\n    {\n      \"date\": \"2022-07-01\",\n      \"value\": 976.72\n    },\n    {\n      \"date\": \"2022-07-04\",\n      \"value\": 974.29\n    },\n    {\n      \"date\": \"2022-07-05\",\n      \"value\": 966.88\n    },\n    {\n      \"date\": \"2022-07-06\",\n      \"value\": 973.63\n    },\n    {\n      \"date\": \"2022-07-07\",\n      \"value\": 990.49\n    },\n    {\n      \"date\": \"2022-07-08\",\n      \"value\": 975.6\n    },\n    {\n      \"date\": \"2022-07-11\",\n      \"value\": 983.06\n    },\n    {\n      \"date\": \"2022-07-12\",\n      \"value\": 996.43\n    },\n    {\n      \"date\": \"2022-07-13\",\n      \"value\": 1014.08\n    },\n    {\n      \"date\": \"2022-07-14\",\n      \"value\": 1017.28\n    },\n    {\n      \"date\": \"2022-07-15\",\n      \"value\": 1045.79\n    },\n    {\n      \"date\": \"2022-07-18\",\n      \"value\": 995.49\n    },\n    {\n      \"date\": \"2022-07-19\",\n      \"value\": 955.42\n    },\n    {\n      \"date\": \"2022-07-20\",\n      \"value\": 951.04\n    },\n    {\n      \"date\": \"2022-07-21\",\n      \"value\": 935.46\n    },\n    {\n      \"date\": \"2022-07-22\",\n      \"value\": 945.94\n    },\n    {\n      \"date\": \"2022-07-25\",\n      \"value\": 951.67\n    },\n    {\n      \"date\": \"2022-07-26\",\n      \"value\": 962\n    },\n    {\n      \"date\": \"2022-07-27\",\n      \"value\": 933.33\n    },\n    {\n      \"date\": \"2022-07-28\",\n      \"value\": 930.92\n    },\n    {\n      \"date\": \"2022-07-29\",\n      \"value\": 926.24\n    },\n    {\n      \"date\": \"2022-08-01\",\n      \"value\": 924.04\n    },\n    {\n      \"date\": \"2022-08-02\",\n      \"value\": 915.62\n    },\n    {\n      \"date\": \"2022-08-03\",\n      \"value\": 913.76\n    },\n    {\n      \"date\": \"2022-08-04\",\n      \"value\": 922.21\n    },\n    {\n      \"date\": \"2022-08-05\",\n      \"value\": 926.33\n    },\n    {\n      \"date\": \"2022-08-08\",\n      \"value\": 931.06\n    },\n    {\n      \"date\": \"2022-08-09\",\n      \"value\": 923.48\n    },\n    {\n      \"date\": \"2022-08-10\",\n      \"value\": 919.26\n    },\n    {\n      \"date\": \"2022-08-11\",\n      \"value\": 916.6\n    },\n    {\n      \"date\": \"2022-08-12\",\n      \"value\": 909.99\n    },\n    {\n      \"date\": \"2022-08-16\",\n      \"value\": 905.73\n    },\n    {\n      \"date\": \"2022-08-17\",\n      \"value\": 897.91\n    },\n    {\n      \"date\": \"2022-08-18\",\n      \"value\": 913.2\n    },\n    {\n      \"date\": \"2022-08-19\",\n      \"value\": 926.17\n    },\n    {\n      \"date\": \"2022-08-22\",\n      \"value\": 949.53\n    },\n    {\n      \"date\": \"2022-08-23\",\n      \"value\": 939.18\n    },\n    {\n      \"date\": \"2022-08-24\",\n      \"value\": 923.34\n    },\n    {\n      \"date\": \"2022-08-25\",\n      \"value\": 912.13\n    },\n    {\n      \"date\": \"2022-08-26\",\n      \"value\": 907.31\n    },\n    {\n      \"date\": \"2022-08-29\",\n      \"value\": 897.17\n    },\n    {\n      \"date\": \"2022-08-30\",\n      \"value\": 890.63\n    },\n    {\n      \"date\": \"2022-08-31\",\n      \"value\": 884.76\n    },\n    {\n      \"date\": \"2022-09-01\",\n      \"value\": 902.46\n    },\n    {\n      \"date\": \"2022-09-02\",\n      \"value\": 894.31\n    },\n    {\n      \"date\": \"2022-09-05\",\n      \"value\": 882.34\n    },\n    {\n      \"date\": \"2022-09-06\",\n      \"value\": 860.34\n    },\n    {\n      \"date\": \"2022-09-07\",\n      \"value\": 879.89\n    },\n    {\n      \"date\": \"2022-09-08\",\n      \"value\": 885.45\n    },\n    {\n      \"date\": \"2022-09-09\",\n      \"value\": 880.78\n    },\n    {\n      \"date\": \"2022-09-12\",\n      \"value\": 888.97\n    },\n    {\n      \"date\": \"2022-09-13\",\n      \"value\": 910.71\n    },\n    {\n      \"date\": \"2022-09-14\",\n      \"value\": 910.27\n    },\n    {\n      \"date\": \"2022-09-15\",\n      \"value\": 916.65\n    },\n    {\n      \"date\": \"2022-09-20\",\n      \"value\": 923.34\n    },\n    {\n      \"date\": \"2022-09-21\",\n      \"value\": 924.92\n    },\n    {\n      \"date\": \"2022-09-22\",\n      \"value\": 926.5\n    },\n    {\n      \"date\": \"2022-09-23\",\n      \"value\": 928.58\n    },\n    {\n      \"date\": \"2022-09-26\",\n      \"value\": 936.8\n    },\n    {\n      \"date\": \"2022-09-27\",\n      \"value\": 948.29\n    },\n    {\n      \"date\": \"2022-09-28\",\n      \"value\": 941.59\n    },\n    {\n      \"date\": \"2022-09-29\",\n      \"value\": 945.42\n    },\n    {\n      \"date\": \"2022-09-30\",\n      \"value\": 945.21\n    },\n    {\n      \"date\": \"2022-10-03\",\n      \"value\": 939.85\n    },\n    {\n      \"date\": \"2022-10-04\",\n      \"value\": 936.14\n    },\n    {\n      \"date\": \"2022-10-05\",\n      \"value\": 928.06\n    },\n    {\n      \"date\": \"2022-10-06\",\n      \"value\": 930.67\n    },\n    {\n      \"date\": \"2022-10-07\",\n      \"value\": 925.96\n    },\n    {\n      \"date\": \"2022-10-11\",\n      \"value\": 922.82\n    },\n    {\n      \"date\": \"2022-10-12\",\n      \"value\": 910.75\n    },\n    {\n      \"date\": \"2022-10-13\",\n      \"value\": 904.12\n    },\n    {\n      \"date\": \"2022-10-14\",\n      \"value\": 925.59\n    },\n    {\n      \"date\": \"2022-10-17\",\n      \"value\": 924.47\n    },\n    {\n      \"date\": \"2022-10-18\",\n      \"value\": 952.3\n    },\n    {\n      \"date\": \"2022-10-19\",\n      \"value\": 957.57\n    },\n    {\n      \"date\": \"2022-10-20\",\n      \"value\": 955.7\n    },\n    {\n      \"date\": \"2022-10-21\",\n      \"value\": 951.25\n    },\n    {\n      \"date\": \"2022-10-24\",\n      \"value\": 962.7\n    },\n    {\n      \"date\": \"2022-10-25\",\n      \"value\": 971.38\n    },\n    {\n      \"date\": \"2022-10-26\",\n      \"value\": 967.06\n    },\n    {\n      \"date\": \"2022-10-27\",\n      \"value\": 959.62\n    },\n    {\n      \"date\": \"2022-10-28\",\n      \"value\": 943.61\n    },\n    {\n      \"date\": \"2022-11-02\",\n      \"value\": 931.04\n    },\n    {\n      \"date\": \"2022-11-03\",\n      \"value\": 925.94\n    },\n    {\n      \"date\": \"2022-11-04\",\n      \"value\": 924.97\n    },\n    {\n      \"date\": \"2022-11-07\",\n      \"value\": 924.7\n    },\n    {\n      \"date\": \"2022-11-08\",\n      \"value\": 921.79\n    },\n    {\n      \"date\": \"2022-11-09\",\n      \"value\": 914.94\n    },\n    {\n      \"date\": \"2022-11-10\",\n      \"value\": 907.41\n    },\n    {\n      \"date\": \"2022-11-11\",\n      \"value\": 906.87\n    },\n    {\n      \"date\": \"2022-11-14\",\n      \"value\": 916.89\n    },\n    {\n      \"date\": \"2022-11-15\",\n      \"value\": 929.68\n    },\n    {\n      \"date\": \"2022-11-16\",\n      \"value\": 922.63\n    },\n    {\n      \"date\": \"2022-11-17\",\n      \"value\": 930.77\n    },\n    {\n      \"date\": \"2022-11-18\",\n      \"value\": 952.48\n    },\n    {\n      \"date\": \"2022-11-21\",\n      \"value\": 960.81\n    },\n    {\n      \"date\": \"2022-11-22\",\n      \"value\": 968.86\n    },\n    {\n      \"date\": \"2022-11-23\",\n      \"value\": 961.24\n    },\n    {\n      \"date\": \"2022-11-24\",\n      \"value\": 958.27\n    },\n    {\n      \"date\": \"2022-11-25\",\n      \"value\": 948.77\n    },\n    {\n      \"date\": \"2022-11-28\",\n      \"value\": 952.78\n    },\n    {\n      \"date\": \"2022-11-29\",\n      \"value\": 950.88\n    },\n    {\n      \"date\": \"2022-11-30\",\n      \"value\": 936.12\n    },\n    {\n      \"date\": \"2022-12-01\",\n      \"value\": 924.02\n    },\n    {\n      \"date\": \"2022-12-02\",\n      \"value\": 930.24\n    },\n    {\n      \"date\": \"2022-12-05\",\n      \"value\": 928.58\n    },\n    {\n      \"date\": \"2022-12-06\",\n
[...]
